h1
{
	color:#0000FF;
	text-decoration:underline;
	background-color:#FFEBCD;
	font-size:4em;
	font-family:algerian;
	
}
h1:hover
{
	color:black;
	background-color:#FFEBCD;
	font-size:4em;
	font-family:algerian;
	
}
img
{
	height:475;
	width:850;
}
strong
{
	font-size:25px;
	font-family:times new roman;
}
button
{
	height:25;
	width:100;
	font-size:15px;
	border-radius:10px;
}
button:hover
{
	height:28;
	width:130;
	font-size:20px;
	border-radius:10px;
}
table
{
	height:25;
	width:1000;
	text-align:center;
	background-color:white;
	border-color:black;
}